.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 10vw;
  background-color: #fc6254;
  font-size: 5vw;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tile:hover {
  background-color: #ccc;
}
